@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
                
body {
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    align-items: center;
    justify-content:center;
    background-color: #1B244A;
}

h2 {
    color: #9AABD8;
    padding: 20px;
}

h3 {
    color: #9AABD8;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    padding: 20px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.container {
    display: flex;
    justify-content:center;
}

button {
    background-color: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 3px solid #9AABD8;
    border-radius: 5px;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 35px;
    height: 35px;
}

